[submodule "misc/seals/yolov5"]
	path = misc/seals/yolov5
	url = git@github.com:anguelos/yolov5.git
[submodule "misc/frat"]
	path = misc/frat
	url = git@github.com:anguelos/frat.git
[submodule "misc/resolution_regressor"]
	path = misc/resolution_regressor
	url = git@github.com:anguelos/resolution_regressor.git
[submodule "apps/ddpa_cei2json"]
	path = apps/ddpa_cei2json
	url = git@github.com:anguelos/ddpa_cei2json.git
[submodule "ddpa_resolution"]
	path = apps/resolution_regressor
	url = git@github.com:anguelos/resolution_regressor.git
[submodule "apps/ddpa_resolution"]
	path = apps/ddpa_resolution
	url = git@github.com:anguelos/resolution_regressor.git
[submodule "apps/ddpa_seals"]
	path = apps/ddpa_seals
	url = git@github.com:anguelos/yolov5.git
[submodule "apps/ddpa_dating_images"]
	path = apps/ddpa_dating_images
	url = git@github.com:anguelos/time_regressor.git
